[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
psycopg2-binary = "*"
pyyaml = "*"
google-cloud-storage = "*"
python-dotenv = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
